<form [formGroup]="surveyForm" (ngSubmit)="submit()">
    <label class="input">
        <span class="label">Survey Title:</span>
        <input formControlName="title" />
    </label>

    <label>Internal Name:
        <input formControlName="internalName" class="input input-bordered" />
    </label>
    <label>Start Date:
        <input type="date" formControlName="startDate" class="input">
    </label>
    <label>End Date:
        <input type="date" formControlName="endDate" class="input">
    </label>

    <div formArrayName=" questions">
        @for (question of questions.controls; track question; let i = $index) {
        <div [formGroupName]="i">
            <label> Name:
                <input formControlName="label">
            </label>

            <label> Question:
                <input formControlName="type">
            </label>

            <select formControlName="type">
                @for (type of questionTypes; track type.value) {
                <option [value]="type.value">{{ type.label }}</option>
                }
            </select>

            <button type="button" (click)="removeQuestion(i)">Remove</button>
        </div>
        }
    </div>

    <button type="button" (click)="addQuestion()" class="btn">Add Question</button>
    <button type="submit" class="btn">Save Survey</button>
</form>